.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login-left {
  flex: 1;
  background-color: #f8fbfc;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-left h2 {
  font-size: 1.8em;
  color: #333;
}

.login-left p {
  font-size: 1em;
  color: #666;
  margin-top: 20px;
}

.login-image {
  width: 80%;
  max-width: 400px;
  margin-bottom: 20px;
}

.login-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.go-back {
  color: #007bff;
  text-decoration: none;
}

.language-switch {
  font-size: 0.9em;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.additional-links {
  text-align: center;
  margin-top: 10px;
}
